[submodule "3rdparty/qlmdb"]
	path = 3rdparty/qlmdb
	url = https://gitlab.com/rpdev/qlmdb.git
[submodule "3rdparty/SingleApplication"]
	path = 3rdparty/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "3rdparty/KDE/syntax-highlighting"]
	path = 3rdparty/KDE/syntax-highlighting
	url = https://github.com/KDE/syntax-highlighting.git
[submodule "3rdparty/KDE/extra-cmake-modules"]
	path = 3rdparty/KDE/extra-cmake-modules
	url = https://github.com/KDE/extra-cmake-modules.git
[submodule "3rdparty/qt-cmake-android"]
	path = 3rdparty/qt-cmake-android
	url = https://gitlab.com/rpdev/qt-cmake-android.git
