[submodule "3rdparty/qlmdb"]
	path = 3rdparty/qlmdb
	url = https://gitlab.com/rpdev/qlmdb.git
[submodule "3rdparty/SingleApplication"]
	path = 3rdparty/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "3rdparty/KDE/syntax-highlighting"]
	path = 3rdparty/KDE/syntax-highlighting
	url = https://github.com/KDE/syntax-highlighting.git
[submodule "3rdparty/qt-cmake-android"]
	path = 3rdparty/qt-cmake-android
	url = https://gitlab.com/rpdev/qt-cmake-android.git
[submodule "3rdparty/run-clang-format"]
	path = 3rdparty/run-clang-format
	url = https://gitlab.com/rpdev/run-clang-format.git
[submodule "3rdparty/qtkeychain"]
	path = 3rdparty/qtkeychain
	url = https://gitlab.com/rpdev/qtkeychain.git
