*.DS_Store
*.autosave
*.kdev4
*.pro.user
*.pro.user.*
*.user
android/*
OpenTodoList/android/local.properties
OpenTodoList/android/.idea/
OpenTodoList/android/android.iml
doc/html/
doc/latex/
/build
*.qmlc
*.jsc
*~
app/android/gradle.properties
app/android/local.properties
/build-*
/deploy-*
config.tests/*/Makefile
config.tests/*/*.o
config.tests/qtkeychain/qtkeychain
.qmake.stash
CMakeLists.txt.user*
/fp-app
/fp-repo
.flatpak-builder
