<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>OpenTodoList</Name>
    <Version>@@Version</Version>
    <Title>OpenTodoList Installer</Title>
    <Publisher>RPdev</Publisher>
    <ProductUrl>http://www.rpdev.net/home/project/opentodolist</ProductUrl>
    <StartMenuDir>OpenTodoList</StartMenuDir>
    <TargetDir>@ApplicationsDir@/OpenTodoList</TargetDir>
    <!--<Icon>OpenTodoList</Icon>-->
    <InstallerWindowIcon>OpenTodoList</InstallerWindowIcon>
    <InstallerApplicationIcon>OpenTodoList</InstallerApplicationIcon>
    <MaintenanceToolName>OpenTodoListMaintenanceTool</MaintenanceToolName>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <!-- Note: This hangs at least in Windows
    <RunProgram>@TargetDir@/bin/OpenTodoList</RunProgram>
    -->
    <ControlScript>@@ControllerScript</ControlScript>
    <RemoteRepositories>
        <Repository>
        <Url>@@RepositoryUrl</Url>
        <Enabled>1</Enabled>
        <DisplayName>OpenTodoList Repository</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>
