[Desktop Entry]
Type=Application
Name=OpenTodoList
Exec=OpenTodoList %F
Icon=OpenTodoList
Comment=A note and task managing application
Terminal=false
Categories=Utility;
